In [88]:
# import libraries
import requests
from bs4 import BeautifulSoup

In [98]:
# parse the weburl using the html parser of Python
page = requests.get('http://www.gyanmitra.in/common-chemical-reagents-formulas/')
soup = BeautifulSoup(page.text, 'html.parser')

table = soup.find_all('table')[0] 

# initialize empty dataframe
chem_table = pd.DataFrame(columns=range(0,3), index = list(range(0,len(table.find_all('tr'))-2)))

In [100]:
# iterate through the table label of html
row_marker = 0
row = 2
for row in table.find_all('tr')[2:]:
    column_marker = 0
    columns = row.find_all('td')
    for column in columns:
        chem_table.iat[row_marker,column_marker] = column.get_text()
        column_marker += 1
    row_marker += 1

In [101]:
chem_table.head()

                      0                 1                           2
0         Chemical name  Chemical formula                 Common name
1           Acetic acid     CH3COOH + H2O  5% Solution: White vinegar
2               Acetone          CH3COCH3                     Acetone
3         Acetylene gas              C2H2                      Ethyne
4  Acetylsalicylic acid            C9H8O4                     Aspirin

In [102]:
# rename columns of the dataframe
chem_table.columns = chem_table.iloc[0]
chem_table = chem_table.iloc[1:]
chem_table.head()

0         Chemical name Chemical formula                 Common name
1           Acetic acid    CH3COOH + H2O  5% Solution: White vinegar
2               Acetone         CH3COCH3                     Acetone
3         Acetylene gas             C2H2                      Ethyne
4  Acetylsalicylic acid           C9H8O4                     Aspirin
5             Aluminium               Al                   Aluminium

In [130]:
# create dictionary of chemicals and corresponding formula
list1 = list(chem_table.iloc[:,0])
list2 = list(chem_table.iloc[:,1])

mydict = dict(zip(list1, list2))

In [135]:
print(mydict['Acetic acid'])

CH3COOH + H2O

## References

* https://srome.github.io/Parsing-HTML-Tables-in-Python-with-BeautifulSoup-and-pandas/